$primary: #7f51d6;
$light: #ededed;
$secondary: #e1e1e1;
$dark: black;

$navbar-active-color: #db545a;
$navbar-light-hover-color: #db545a;

@import "node_modules/bootstrap/scss/bootstrap";
section {
    margin: 0;
    padding: 0;
}

// NavBar
.navbar-toggler {
    border: none;
    color: transparent;
  } 

.navbar-toggler-icon {
    background-image: url(./images/toggler.png);
    z-index: -10;
}

.navbar-toggler-icon:active {
    background-image: url(./images/toggle-active.png);
    z-index: 10;
}

//Hero Section

.heroBG {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    
}

.borderH {
    margin-top: 20px;
    border-style: solid;
    border-bottom: #7f51d6;
    border-width: 13px;
}

.nopadding {
    padding-right: 0 !important;
    margin-right: 0 !important;
 }


//Gallerie

 .gImg{
    object-fit: cover;
    width: 400px;
    height: 400px;
 }


 .bg-img {
    background-image: url(/images/g1.jpg);
 }